@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root{
    --colorbleu: #DFF6FF;
    --colorbleuda: #06283D;
    --color2bleu: #47B5FF;
    --color3bleu: #256D85;
}

body{
    background-color: #DFF6FF;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar{
    padding: 30px;
}

.logo{
    color: cadetblue;
    font-weight: 600;   
    text-decoration: none;
}

.list ul{
    @extend .flex;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--color3bleu);
    font-weight: 500;
}

.container{
    margin-top:3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.beinvenu{
    margin-bottom: 2rem;
    color: var(--color3bleu);
    font-size: x-large;
}

.group{
    @extend .flex;
    padding: 10px;
}

.from-label{
    flex: none;
    width: 100px;
    padding-right: 20px;
    color: var(--color3bleu);
}

.from-label::after {
    content: ":";
}

.form-info input{
    width: 200px;
    padding: 5px;
    border: 1px solid var(--color3bleu);
    border-radius: 5px;
}


.btn{
    background-color: var(--color3bleu);
    padding: 5px;
    width: 100px;
    color: #DFF6FF;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    margin-left: 110px;
    :hover{
        background-color: var(--colordarkbleu);
    }
}

.cart-quiz{
    display: block;
    // justify-content: center;
    width: 60%;
    height: auto;
    border-radius: 5px;
    border: 2px solid var(--color3bleu);
    background-color: white;

}

.progress{
    margin: auto;
    margin-top: 10px;
    background-color: var(--colorbleuda);
    width: 70%;
    height: 15px;
    border-radius: 8px;
    @extend .flex;
}

.progress p{
    font-size: smaller;
    color: #DFF6FF;
    margin: auto;
    font-weight: 600;
}

.duree{

    font-size: small;
    color: var(--color3bleu);
    border: 2px solid var(--color3bleu);
    border-radius: 60%;
    padding: 5px;
    max-width: min-content;
    margin: auto;
    margin-top: 15px;
}

.quiz{
    display: block;
}

.Q{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.reponse{
    @extend .flex;
    a{
        text-decoration: none;
        color: var(--colorbleuda);
    }
    li{
        border: 2px solid var(--color3bleu);
        border-radius: 8px;
        padding: 10px;
        max-width: 700px;
        margin:10px;
        i{
            color:var(--colorbleuda);
        }
    }
    ul{
        margin: 20px;
        :hover{
            background-color: #256D85;
            a{
                color: #DFF6FF;
            }
        }
    }

}

.title{
    @extend .flex;
    margin-top: 10px;
    font-size: xx-large;
    img{
        width: 200px;
    }
}

.btn-reponse{
    @extend .flex;
    margin-bottom: 15px;
    justify-content: space-around;
    align-items:flex-end;
    .suivant{
        width: 100px;
        margin-right: 50px;
    }
}

// .col{
//     color: #06283D;
// }

// progress[value] {
    
//     width: 300px;
//     height: 30px;
// }

input[type="radio"]{
    // visibility: hidden;
}
.Question{
    @extend .duree;
}

.time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}