@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
*{
    font-family: Arial;
}
:root{
    --colorbleu: #DFF6FF;
    --colorbleuda: #06283D;
    --color2bleu: #47B5FF;
    --color3bleu: #256D85;
}

$color-vert:#058b24;

body{
    background-color: #DFF6FF;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar{
    padding: 30px;
}

.logo{
    color: cadetblue;
    font-weight: 600;   
    text-decoration: none;
}

.list ul{
    @extend .flex;
    font-family:Arial, Helvetica, sans-serif;
    color: var(--color3bleu);
    font-weight: 500;
}

.container{
    margin-top:3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.beinvenu{
    margin-bottom: 2rem;
    color: var(--color3bleu);
    font-size: x-large;
}

.group{
    @extend .flex;
    padding: 10px;
}

.from-label{
    flex: none;
    width: 100px;
    padding-right: 20px;
    color: var(--color3bleu);
}

.from-label::after {
    content: ":";
}

.form-info input{
    width: 200px;
    padding: 5px;
    border: 1px solid var(--color3bleu);
    border-radius: 5px;
}


.btn{
    background-color: var(--color3bleu);
    padding: 5px;
    width: 100px;
    color: #DFF6FF;
    border-radius: 5px;
    border: none;
    margin-top: 30px;
    :hover{
        background-color: var(--colordarkbleu);
    }
}


.cart-quiz{
    display: block;
    // justify-content: center;
    width: 65%;
    height: auto;
    border-radius: 5px;
    border: 2px solid var(--color3bleu);
    background-color: white;

}

.progress{
    margin: auto;
    margin-top: 10px;
    background-color: var(--colorbleuda);
    width: 70%;
    height: 15px;
    border-radius: 8px;
    @extend .flex;
}

.progress p{
    font-size: smaller;
    color: #DFF6FF;
    margin: auto;
    font-weight: 600;
}

.duree{

    font-size: small;
    color: var(--color3bleu);
    border: 2px solid var(--color3bleu);
    border-radius: 60%;
    padding: 5px;
    max-width: min-content;
    margin: auto;
    margin-top: 15px;
}

.quiz{
    display: none;
    // .TotalQuestion{
    // display: flex;
    // justify-content: space-around;
    // width: 50%;
    // }
}

.Q{
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.reponse{
    @extend .flex;
    a{
        text-decoration: none;
        color: var(--colorbleuda);
    }
    li{
        border: 2px solid var(--color3bleu);
        border-radius: 8px;
        padding: 10px;
        max-width: 700px;
        margin:10px;
        i{
            color:var(--colorbleuda);
        }
    }
    ul{
        margin: 20px;
        :hover{
            background-color: #256D85;
            a{
                color: #DFF6FF;
            }
        }
    }

}

.title{
    @extend .flex;
    margin-top: 10px;
    font-size: xx-large;
    img{
        width: 200px;
    }
}

.btn-reponse{
    @extend .flex;
    margin-bottom: 15px;

    justify-content: space-between;
    align-items:center;
    .suivant{
        width: 100px;
        margin-right: 50px;
    }
}

// .col{
//     color: #06283D;
// }

// progress[value] {
    
//     width: 300px;
//     height: 30px;
// }

input[type="radio"]{
    // visibility: hidden;
}
.Question{
    @extend .duree;
}

.row {
    margin-bottom: 40px;
}

.time{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-progressBar {
    width: 100%
}

.progressBar {
    width: 700px;
    display: flex;
    justify-content: space-between;
}

.progressBar li {
    list-style-type: none;
    float: left;
    width: 33%;
    position: relative;
    text-align: center;
}

.progressBar li:before {
    content: " ";
    line-height: 30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px;
    background-color: white;
    // background-color: var(--color3bleu)
}

.progressBar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
    z-index: -1;
    // background-color: var(--color3bleu)
}

.progressBar li:first-child:after {
    content: none;
}

.progressBar li.active {
    color: var(--color3bleu);
}

.progressBar li.active:before {
    border-color: var(--color3bleu);
    background-color: var(--color3bleu)
}

.progressBar .active:after {
    background-color: var(--color3bleu);
}

.test{
    @extend .flex;
    @extend .quiz;
    h1{
        @extend .beinvenu
    }
    ul{
        margin: 10px;
        li{
            padding: 2px;
            font-size: small;
            color: $color-vert;
        }
    }
}
.result{
    display: none;
    @extend .Q;
    .questionResult{
        width: 100%;
        @extend .flex;
        .votre{
            width: 50%;
        }
        .true{
            width: 50%;
        }
    }
    .suivant{
        margin: auto;
    }
}


.vrai{
    background-color: #37dd5d;
    height: max-content;
}
.faux{
    background-color: rgb(251, 72, 72);
    height: max-content;
}

.pro{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    .btn{
        margin: 0;
    }
    .prog{
        margin: auto;
    }
}
.prog{
    width: 30%;
    height: 20px;
    
}
progress {
	width: 30%;
	height: 20px;
	margin: 50px auto;
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	border-radius: 50px;
	padding: 2px;
	box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 50px;
	box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
	background:
		-webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%),
		-webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)),
		-webkit-linear-gradient(left, #256D85, #06283D);
	
	/* Looks great, now animating it */
	background-size: 25px 14px, 100% 100%, 100% 100%;
	-webkit-animation: move 5s linear 0 infinite;
}

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */

@-webkit-keyframes move {
	0% {background-position: 0px 0px, 0 0, 0 0}
	100% {background-position: -100px 0px, 0 0, 0 0}
}


input[type="radio"]{

    /* The native appearance is hidden */
    width: 15px;
    height: 15px;
    appearance: none;
    -webkit-appearance: none;
  
    /* For a circular appearance we need a border-radius. */
    border-radius: 50%;
  
    /* The background will be the radio dot's color. */
    background: #47b5ff5f;
  
    /* The border will be the spacing between the dot and the outer circle */
    border: 3px solid #FFF;
  
    /* And by creating a box-shadow with no offset and no blur, we have an outer circle */
    box-shadow: 0 0 0 1px #256D85;
  }

  label.r{
    margin-left: 10px;
  }

  .liste-explication{
    text-align: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    padding: 10px;
    li{
        padding: 4px;
    }
}


.questionResult{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    ul{
        padding: 20px;
        border: 1px solid #256D85;
        border-radius: 15px;
        margin-top: 7px;
        width: 700px;
        background-color: #256D85;
        // color: white;
        div{
            padding: 10px;
        }
        li{
            padding: 10px;
            border: 1px solid #256D85;
            border-radius: 20px;
            margin-top: 7px;
        }
        .msg{
            display: flex;
            justify-content: start;
            margin-top: 5px;
        }
    }
}